/* html {
    background: url(../images/game-of-thrones-background-24.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   } */

/* .card {
    width: 100%;
    margin: 10px;
} */

body {
    background-color: #f1f1f1;
    font-family: 'Source Serif Pro', serif;
}

.card:hover{
    box-shadow:  0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}